/*fonts:*/
$font-family-playfair: 'Playfair Display', serif;
$font-family-raleway: 'Raleway', sans-serif;
$font-weights: (
    thin: 100,
    light: 300,
    regular: 400,
    semibold: 600,
    bold: 700,
    extrabold: 800,
  );

  /* Raleway : 100,300,400,700*/