@import "colors";
@import "fonts";


.header {
    height: 100vh;
}

body {
    background-color: $darkblue;

    /*navigation bar CSS*/
    .topnav {
        background-color:$blue;
        overflow: hidden;
        opacity: 90%;


        .topnav a {
            float: left;
            color:#003b49;
            text-align: center;
            padding: 0px;
            text-decoration: none;
            font-size: 18px;

            &:hover {
                background-color: #77888f;
                color:#000;
            }
        }

        .topnav a.active {
            background-color: #79291f;
            color:#ffffff;
        }
    }

    h1 {
        font-family: $font-family-playfair;
        color: $white;
        text-align: center;
        font-weight: 700;
        font-size: 100px;
    }

    h2 {
        font-family: $font-family-raleway;
        font-weight: 700;
        color: $white;
        background-color: $blue;
        font-size: 60px;
        text-align: center;
    }

    h3 {
        font-family: $font-family-playfair;
        font-weight: 300;
        color: $white;
        font-size: 32px;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
    }

    h4 {
        font-family: $font-family-playfair;
        font-weight: 300;
        color: $white;
        font-size: 28px;
        text-align: center;
    }

    h5 {
        font-family: $font-family-raleway;
        font-weight: 400;
        color: $white;
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        font-style:normal;
        text-transform: uppercase;
    }


    h6 {
        font-family: $font-family-playfair;
        font-weight: 100;
        color: $white;
        font-size: 21px;
        text-align: center;
    }

    #scrolldown {
       position:absolute;
    }

    button {
        background-color: #ffffff00;
        color: #ffffff;
        border-color: #ffffff;
        border-width: 2px;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

}