/*fonts:*/
$font-family-playfair: 'Playfair Display', serif;
$font-family-raleway: 'Raleway', sans-serif;
$font-weights: (
    thin: 100,
    light: 300,
    regular: 400,
    semibold: 600,
    bold: 700,
    extrabold: 800,
  );

/*colors:*/
$darkred: #541313;
$red: #79291f;
$grey: #77888f; 
$blue: #003b49;
$darkblue: #0d2027;
$white: #ffffff;
$black: #000000;

body {
    background-color: $darkblue;

    h1 {
        font-family: $font-family-playfair;
        color: $white;
        text-align: center;
        font-weight: 700;
        font-size: 100px;
    }

    h2 {
        font-family: $font-family-raleway;
        font-weight: 700;
        color: $white;
        background-color: $blue;
        font-size: 60px;
        text-align: center;
    }

    h3 {
        font-family: $font-family-playfair;
        font-weight: 300;
        color: $white;
        font-size: 36px;
        text-align: center;
        font-style: italic;
    }

    h5 {
        font-family: $font-family-playfair;
        font-weight: 300;
        color: $white;
        font-size: 36px;
        text-align: center;
    }

    h6 {
        font-family: $font-family-playfair;
        font-weight: 100;
        color: $white;
        font-size: 21px;
        text-align: center;
    }

    #scrolldown {
       position:absolute;
    }

    button {
        background-color: #ffffff00;
        color: #ffffff;
        border-color: #ffffff;
        border-width: 2px;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

}